.container{
    background-image: url('../../resources/Elementos/elementos_pagina/Fondo\ Ejemplo\ Patrón\ 1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    margin: 0 auto;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 12px;
}
.image{
    display: flex;
    width: 5%;
    margin-bottom: 40px;
    align-items: stretch;
    flex-direction: column;
}

.image:hover{
    animation: rodar 1.2s
}

@keyframes rodar {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
.containerForm{
    background-color: rgb(85, 65, 65, 89%);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-flow: column wrap;
}
.checkBox {
  display: flex;
  justify-items: end;
  align-items: flex-end;
  flex-direction: column;
}
.btn{
  width: 25%;
    
}
.btn:hover {
    -webkit-transform:scale(1.0);transform:scale(1.1);
}