.container{
    background-image: url('../../resources/Elementos/elementos_pagina/Fondo\ Ejemplo\ Patrón\ 1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    margin: 0 auto;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 12px;
}
.image{
    display: flex;
    width: 5%;
    margin-bottom: 40px;
    align-items: stretch;
    flex-direction: column;
}

.image:hover{
    animation: rodar 1.2s
}

@keyframes rodar {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
h1{
    text-shadow: 7px 5px 5px rgba(0,0,0,0.57);

}
.containerForm{
    background-color: rgba(226, 174, 15, 85%);
    border-radius: 25px;
    font-family: 'Questrial', 'Press Start 2P';
    font-weight: bold;
    font-size: 20px;
    display: flex;
    /* margin: 0 auto; */
    flex-flow: column wrap;
    line-height: 30px;
    width: 22%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    /* flex-wrap: wrap; */
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.danger{
    margin-bottom: 50px;
    padding: 10px;
    color: #f5f5f5;
    background-color: #efb810;
    border-radius: 25px;
    font-weight: bold;
    font-family: 'Questrial', 'Press Start 2P';
    font-size: 50px;
    animation: saltar 1.5s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    -webkit-box-shadow: 31px 28px 15px -6px rgba(0,0,0,0.52);
    -moz-box-shadow: 31px 28px 15px -6px rgba(0,0,0,0.52);
    box-shadow: 31px 28px 15px -6px rgba(0,0,0,0.52);
    
} 
@keyframes saltar {
    0%{
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px);
    }
}



.btn {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 25%;
    font-family: 'Questrial', 'Press Start 2P';
    font-size: 15px;
    font-weight: bold;
}
.btn:hover {
    -webkit-transform:scale(1.0);transform:scale(1.1);
}
input, select, button{
    border-color: #f9db5c;
    border-radius: 5px;
}