.container{
    background-image: url('../../resources/Elementos/elementos_pagina/Fondo\ Ejemplo\ Patrón\ 1.jpg');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    padding: 2%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}



.containerNav{
    flex: 75px;
    width: 85%;
    /* height: 50px; */
    display: block;
    line-height: 25px;
}

.containerPagination{
display: flex;

}
.cardContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding-top: 5%;
    justify-items: center;
   
}
