.container{
    display: flex;
    flex-flow: column;
    background-image: url('../../resources/Elementos/elementos_pagina/Fondo\ Ejemplo\ Patrón\ 1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
}
.fondo{
    display: flex;
    background-color: rgb(255, 255, 255, 80%);
    width: 40%;
    /* height: 50%; */
    line-height: 50px;
    border: solid;
    border-radius: 45px;
    font-size: 23px;
    align-items: center;
    flex-direction: column;
}
.texto{
    font-family: 'Questrial', 'Press Start 2P';
    font-size: 50px;
    height: 0;
    padding: 0;
    margin-top: 20px;
    margin-inline: auto;
}
.link{
    display: block;
    color: #171718;
    padding-bottom: 5px;
}
.link:hover{
    -webkit-transform:scale(1.0);transform:scale(1.1);
    
}
.image{
    /* margin-top: 2.5%; */
    width: 40%;
    position: relative;
}