.app{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    background-image: url('../../resources/Elementos/elementos_pagina/Fondo\ Ejemplo\ Líneas\ 2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    padding: 4.2%;
    min-height: 100vh;
    
}
.parrafo{
    font-size: 30px;
}
.link{
    display: block;
    color: #171718;
    margin-top: 5%;
}
.link:hover{
    color: #F5F5F5;
    
}
.image{
    /* margin-top: 2.5%; */
    width: 25%;
    position: relative;
}