.paginate{
    display: flex;
    justify-items: center;
    align-items: center;
}

.btn {
    width: 50px;
    height: 25px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    border-radius: 15%;
    outline: none;
    transition: 1s ease-in-out;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}